<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mdlinkformatter.cyrusn</string>
	<key>category</key>
	<string>Programming</string>
	<key>connections</key>
	<dict>
		<key>25C83490-CA79-470C-A195-08420A9F944D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5568550C-3588-47A0-BE9D-F12D3B9FCA94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6229B8FA-A991-4296-8130-4591E0D2C155</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BB1D40F-EDA1-4410-AC9F-F280716933F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25C83490-CA79-470C-A195-08420A9F944D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71ABCFE5-9548-4DEF-866A-54BC755ED09A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AE03457-2396-4F4E-B1A7-C90DDBD3D6E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AE03457-2396-4F4E-B1A7-C90DDBD3D6E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>805F1D87-D180-4C49-A26A-3C13687DDA69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8B714D3-046F-4D85-A30D-94195946E82B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BB1D40F-EDA1-4410-AC9F-F280716933F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E191948C-D5DE-42A9-AD89-D9576E24D49A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF344349-C1B6-4FEA-A9D4-4B1A71119547</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>805F1D87-D180-4C49-A26A-3C13687DDA69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8B714D3-046F-4D85-A30D-94195946E82B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6229B8FA-A991-4296-8130-4591E0D2C155</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE428DA2-E53E-4B25-BE91-FD6A43E82B1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8B714D3-046F-4D85-A30D-94195946E82B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E191948C-D5DE-42A9-AD89-D9576E24D49A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9638C72-8EB1-4B06-8E02-3B3D417C036E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE428DA2-E53E-4B25-BE91-FD6A43E82B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CyrusN</string>
	<key>description</key>
	<string>Convert MD link in inline style to reference style, vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MD Link formatter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>mdl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>71ABCFE5-9548-4DEF-866A-54BC755ED09A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>(function (){
var Chrome = Application("Google Chrome");
var activeTab = Chrome.windows[0].activeTab;
var result = "[" + activeTab.title() + "]("+ activeTab.url().replace("(", "%28").replace(")", "%29") + ")";
return result})()</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AE03457-2396-4F4E-B1A7-C90DDBD3D6E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5568550C-3588-47A0-BE9D-F12D3B9FCA94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>95</integer>
				<key>script</key>
				<string>query=$1

./convertInlineLinkToReferenceLink.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E191948C-D5DE-42A9-AD89-D9576E24D49A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./convertReferenceLinkToInlineLink.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6229B8FA-A991-4296-8130-4591E0D2C155</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.github.atom</string>
					<string>com.google.Chrome</string>
					<string>com.sublimetext.3</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E9638C72-8EB1-4B06-8E02-3B3D417C036E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:style}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>2inline</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9BB1D40F-EDA1-4410-AC9F-F280716933F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>style</key>
					<string>2inline</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BE428DA2-E53E-4B25-BE91-FD6A43E82B1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B8B714D3-046F-4D85-A30D-94195946E82B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.github.atom</string>
					<string>com.google.Chrome</string>
					<string>com.sublimetext.3</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AF344349-C1B6-4FEA-A9D4-4B1A71119547</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>style</key>
					<string>2reference</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>805F1D87-D180-4C49-A26A-3C13687DDA69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:style}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>2reference</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>25C83490-CA79-470C-A195-08420A9F944D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Generate a Markdown link for link of active Google Chrome Tab</string>
	<key>uidata</key>
	<dict>
		<key>25C83490-CA79-470C-A195-08420A9F944D</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>4450DC42-5EBD-4FA3-8A8F-6753CDD1111D</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>5568550C-3588-47A0-BE9D-F12D3B9FCA94</key>
		<dict>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6229B8FA-A991-4296-8130-4591E0D2C155</key>
		<dict>
			<key>note</key>
			<string>convertReferenceLinkToInlineLink</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>71ABCFE5-9548-4DEF-866A-54BC755ED09A</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7AE03457-2396-4F4E-B1A7-C90DDBD3D6E0</key>
		<dict>
			<key>note</key>
			<string>Get md link from chrome front tab</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>805F1D87-D180-4C49-A26A-3C13687DDA69</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>9BB1D40F-EDA1-4410-AC9F-F280716933F7</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>AF344349-C1B6-4FEA-A9D4-4B1A71119547</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>B8B714D3-046F-4D85-A30D-94195946E82B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>BE428DA2-E53E-4B25-BE91-FD6A43E82B1E</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E191948C-D5DE-42A9-AD89-D9576E24D49A</key>
		<dict>
			<key>note</key>
			<string>convertInlineLinkToReferenceLink</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E9638C72-8EB1-4B06-8E02-3B3D417C036E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
